@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");
* {
  box-sizing: border-box;
}

.container {
  background: url(../img/landing-background.jpg) no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  position: fixed;
  position: relative;
  overflow: hidden;
  padding: 100px 60px;
}
.container .container_decoration {
  width: 120%;
  height: 180%;
  border-radius: 50%;
  background: url(../img/dot-texture.png) repeat 0 0 #fff;
  position: absolute;
  top: -40%;
  right: -90%;
}

.content {
  position: relative;
  left: -20%;
  font-family: Titillium Web, sans-serif;
  color: var(--white);
  width: 50%;
  margin: 60px auto;
}
.content .content_info {
  text-align: center;
}
.content .content_info > img {
  color: var(--white);
  margin: 20px;
}
.content .content_info h3 {
  font-size: 1.4em;
  margin-bottom: 0;
}
.content .content_info h1 {
  font-weight: 900;
  font-size: 6.5em;
  margin-bottom: 40px;
}
.content .content_info p {
  width: 400px;
  margin: 30px auto 0;
  font-size: 1.125rem;
  line-height: 1.3em;
  font-weight: 500;
}
.content .switch_btn {
  text-align: center;
  margin-top: 80px;
}
.content .switch_btn label {
  font-family: Rajdhani, sans-serif;
  display: inline-block;
  width: 180px;
  height: 54px;
  line-height: 54px;
  font-weight: 700;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.content .switch_btn .switch_btn_login {
  position: relative;
  border: 1px solid var(--white);
  border-radius: 10px 0 0 10px;
}
.content .switch_btn .switch_btn_login:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -6px;
  width: 0;
  height: 54px;
  border: 3px solid var(--white);
}
.content .switch_btn .switch_btn_register {
  border: 1px solid var(--white);
  border-radius: 0 10px 10px 0;
}

#login:checked ~ .content label.switch_btn_login,
#register:checked ~ .content label.switch_btn_register {
  background-color: var(--white);
  color: var(--dark);
}

#login:checked ~ .form_login,
#register:checked ~ .form_register {
  visibility: visible;
  opacity: 1;
  right: 15%;
}

.form_login {
  font-family: "Rajdhani";
  width: 484px;
  height: 80%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 64px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  visibility: visible;
  opacity: 0;
  z-index: 1;
  transition: all 0.6s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.form_login .form_login_decor {
  position: relative;
}
.form_login .form_login_decor > img {
  position: absolute;
  top: -135px;
  left: -145px;
}
.form_login h3 {
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: #3e3f5e;
}
.form_login .form_login_body {
  margin-top: 60px;
}
.form_login .form_login_body .login_name, .form_login .form_login_body .login_password {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.form_login .form_login_body .login_name input, .form_login .form_login_body .login_password input {
  display: block;
  background-color: #fff !important;
  font-family: "Rajdhani";
  width: 100%;
  height: 54px;
  padding: 0 18px;
  font-size: 1em;
  font-weight: 700;
  border: 1px solid #dedeea;
  border-radius: 10px;
  color: #3e3f5e !important;
  transition: border-color 0.2s ease-in-out;
}
.form_login .form_login_body .login_name input:focus, .form_login .form_login_body .login_password input:focus {
  border-color: #615dfa;
}
.form_login .form_login_body .login_name input:focus + label, .form_login .form_login_body .login_password input:focus + label {
  transform: translateY(-26px);
  font-size: 0.8em;
}
.form_login .form_login_body .login_name label, .form_login .form_login_body .login_password label {
  display: block;
  position: absolute;
  color: #adafca;
  top: 20px;
  left: 20px;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  background-color: #fff;
  padding: 0 6px;
}
.form_login .form_login_body .login_save {
  display: flex;
  justify-content: space-between;
  height: 25px;
}
.form_login .form_login_body .login_save .login_remember {
  display: flex;
}
.form_login .form_login_body .login_save .login_remember label {
  cursor: pointer;
  display: flex;
}
.form_login .form_login_body .login_save .login_remember label .check_box {
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #dedeea;
  border-radius: 6px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
}
.form_login .form_login_body .login_save .login_remember label .check_box i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
}
.form_login .form_login_body .login_save .login_remember label p {
  line-height: 22px;
  font-size: 0.8em;
  font-weight: 700;
  color: #3e3f5e;
}
.form_login .form_login_body .login_save .login_remember input:checked + label span {
  background-color: #23d2e2;
}
.form_login .form_login_body .login_save .login_remember input:checked + label span i {
  opacity: 1;
}
.form_login .form_login_body .login_save .forgot_password a {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 700;
  color: #adafca;
}
.form_login .form_login_body .login_save .forgot_password a:hover {
  color: #23d2e2;
}
.form_login .form_login_body .login_btn {
  width: 100%;
  margin-top: 20px;
}
.form_login .form_login_body .login_btn button {
  font-family: "Rajdhani";
  width: 100%;
  height: 54px;
  line-height: 54px;
  background-color: #615dfa;
  color: var(--white);
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}
.form_login .form_login_body .login_btn button:hover {
  background-color: #5955e6;
}

.social_header_line {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-top: 40px;
  position: relative;
}
.social_header_line:before, .social_header_line:after {
  display: block;
  content: "";
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 7px;
}
.social_header_line:before {
  left: 0;
}
.social_header_line:after {
  right: 0;
}

.social_links {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_links div {
  border: 1px solid transparent;
  border-radius: 10px;
  width: 40px;
  line-height: 40px;
  color: white;
  height: 40px;
  text-align: center;
  margin: 0 6px;
}
.social_links .social_link_facebook {
  background-color: #3763d2;
  font-size: 16px;
}
.social_links .social_link_twitter {
  background-color: #1abcff;
}
.social_links .social_link_twitch {
  background-color: #7b5dfa;
}
.social_links .social_link_youtube {
  background-color: #fd434f;
}

.form_register {
  font-family: "Rajdhani";
  width: 484px;
  height: 90%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 64px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: all 0.6s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.form_register .form_register_decor {
  position: relative;
}
.form_register .form_register_decor > img {
  position: absolute;
  top: -135px;
  left: -145px;
}
.form_register h3 {
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: #3e3f5e;
}
.form_register .form_register_body {
  margin-top: 60px;
}
.form_register .form_register_body .register_email,
.form_register .form_register_body .register_username,
.form_register .form_register_body .register_password,
.form_register .form_register_body .register_repeat_password {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.form_register .form_register_body .register_email input,
.form_register .form_register_body .register_username input,
.form_register .form_register_body .register_password input,
.form_register .form_register_body .register_repeat_password input {
  display: block;
  background-color: #fff !important;
  font-family: "Rajdhani";
  width: 100%;
  height: 54px;
  padding: 0 18px;
  font-size: 1em;
  font-weight: 700;
  border: 1px solid #dedeea;
  border-radius: 10px;
  color: #3e3f5e !important;
  transition: border-color 0.2s ease-in-out;
}
.form_register .form_register_body .register_email input:focus,
.form_register .form_register_body .register_username input:focus,
.form_register .form_register_body .register_password input:focus,
.form_register .form_register_body .register_repeat_password input:focus {
  border-color: #615dfa;
}
.form_register .form_register_body .register_email input:focus + label,
.form_register .form_register_body .register_username input:focus + label,
.form_register .form_register_body .register_password input:focus + label,
.form_register .form_register_body .register_repeat_password input:focus + label {
  transform: translateY(-26px);
  font-size: 0.8em;
}
.form_register .form_register_body .register_email label,
.form_register .form_register_body .register_username label,
.form_register .form_register_body .register_password label,
.form_register .form_register_body .register_repeat_password label {
  display: block;
  position: absolute;
  color: #adafca;
  top: 20px;
  left: 20px;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  background-color: #fff;
  padding: 0 6px;
}
.form_register .form_register_body .send_notification label {
  cursor: pointer;
  display: flex;
}
.form_register .form_register_body .send_notification label .check_box {
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #dedeea;
  border-radius: 6px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
}
.form_register .form_register_body .send_notification label .check_box i {
  opacity: 0;
  font-size: 18px;
  color: #fff;
}
.form_register .form_register_body .send_notification label p {
  line-height: 22px;
  font-size: 0.9em;
  font-weight: 700;
  color: #3e3f5e;
}
.form_register .form_register_body .send_notification input:checked + label span {
  background-color: #23d2e2;
}
.form_register .form_register_body .send_notification input:checked + label span i {
  opacity: 1;
}
.form_register .form_register_body .register_btn {
  width: 100%;
  margin-top: 20px;
}
.form_register .form_register_body .register_btn button {
  font-family: "Rajdhani";
  width: 100%;
  height: 54px;
  line-height: 54px;
  background-color: #23d2e2;
  color: var(--white);
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}
.form_register .form_register_body .register_btn button:hover {
  background-color: #1fbdcb;
}
.form_register .register_footer_note {
  display: block;
  margin-top: 30px;
}
.form_register .register_footer_note p {
  font-size: 0.9rem;
  line-height: 1.8em;
  font-weight: 500;
}
.form_register .register_footer_note span > a {
  text-decoration: none;
  color: #23d2e2;
  font-weight: 700;
}

@media screen and (max-width: 1500px) {
  .container {
    height: 100vh;
    padding: auto 10px;
  }
  .container .container_decoration {
    display: none;
  }
  .container .content {
    margin: 0;
    margin-left: 200px;
  }
  .form_login, .form_register {
    transform: translateX(30%);
  }
}
@media screen and (max-width: 1365px) {
  .container {
    height: 100%;
  }
  .form_login, .form_register, .content {
    position: unset;
    margin: 0 !important;
    transform: none;
  }
  .container {
    position: static !important;
    display: flex;
    flex-direction: column;
    background: url(../img/landing-background.jpg) no-repeat 0;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .container .content .content_info p {
    display: none;
  }
  .container .content .switch_btn {
    margin-top: 30px;
  }
  .form_login {
    margin-top: 60px !important;
  }
  .form_login .form_login_decor {
    display: none;
  }
  .form_register {
    transform: translateY(-605px);
  }
  .form_register .form_register_decor {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
  .container {
    object-fit: contain;
  }
}
@media screen and (max-width: 992px) {
  .content {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 10px 20px !important;
  }
  .container .content h1 {
    font-size: 4em;
  }
  .container .switch_btn label {
    margin: 0;
    padding: 0;
    width: calc(50% - 20px);
  }
  .form_login, .form_register {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */
